{% assign author = site.data.authors[page.author] %}

{% include post-header.html %}


<div class="main-content indiv-post">
<div class="container-fluid">
<div class="">
<div class="main-post">
<div class="nav-buttons">
<div class="col-xs-12">
<a href="../../../../../index.html"><p class="back-button">Back</p></a>
</div>
<!-- <div class="col-xs-4 col-xs-offset-4">
<p class="next-button">Next</p>
</div> -->
</div>
<h1 class="main-post-title">{{ page.title }}</h1>
<p class="muted">{{ page.date | date_to_long_string }}</p>
{% if author %}
    <h4 class="post-author"><img class="post-avi" src="{{ author.gravatar }}" alt="gravatar"> by {{ author.display_name }}</h4>
    {% include post-social-links.html %}
{% endif %}
<div class="post-content">
{{ content }}

</div>
</div>
</div>


 </div>
 </div>

{% include post-footer.html %}