/*Stylesheet for Blind Faith Cafe site*/

/*css doc to sit on top of bootstrap*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/*Body*/

a:hover{
	text-decoration: none;

}

.carousel-indicators{
	display:none;
}

.carousel-control{
	display:none;
}


/*Navbar*/

.navbar{
	background-color:#fff;
	height:40px;
}
	.navbar .container-fluid{
		background-color: #fff;
		height:inherit;
	}
		.navbar .container-fluid #bfc-logo{
			display:none;
		}
		.navbar .container-fluid .navbar-brand{
			padding: 8px 15px;
		}
				.navbar .container-fluid .navbar-collapse .nav .active > a{
					background-color:transparent;
				}
				.navbar .container-fluid .navbar-collapse .nav .active > a:hover{
					background-color:transparent;
				}
				.navbar .navbar-header .navbar-brand #bfc-icon{
					display:block;
					width:60%;
				}
			.navbar .container-fluid .navbar-collapse .nav .spacer{
				display:none;
			}
			.navbar .container-fluid .navbar-collapse .nav li a{
				color:#18692D;
			}
			.navbar .container-fluid .navbar-collapse {
				background-color: #fff;
			}
/*Navbar end*/


.carousel .item img{
	width:100%;
}

/*Main Content*/

.main-content{
	padding: 50px 50px;
	background-color:#72CF7C;
}


 #picture-slider .carousel .item .carousel-caption{
	top:45%;
	text-align:left;
	left:10%;
}
#picture-slider .carousel .item .carousel-caption h3{
	font-size:2em;
}
#picture-slider .carousel .item .carousel-caption p{
	font-size:1em;
	font-weight:lighter;
}

#picture-slider .carousel .item .color-overlay{
	position:absolute;
	top:50%;
	left:0;
	height:50%;
	width:100%;
	z-index:9;
	background: rgba(205, 95, 74, .4);
}

.row div #reservation-hover, #delivery-hover, #giftcard-hover{
	width:90%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	fill: #18692D;
	/*background-color:#12141C;*/
	border: 3px dashed #fff;
	/*background: rgba(146, 171, 89, 1);*/
	/*border-radius: 10px 10px;*/
}

#action-buttons .sub-section{
	margin-bottom:10%;
}

#action-buttons .container-fluid .sub-section svg{
	display:block;
	margin-left: auto;
	margin-right:auto;
}
#action-buttons .container-fluid .sub-section h3{
	text-align: center;
	color:#18692D;
}


#email-capture{
	background-color:#F0F5E9;
	text-align:left;
	color:#18692D;
}
#email-capture h1{
	font-size:2em;
	padding-top:10%;
	padding-bottom:10%;
	margin:0;
}
#email-capture form{
	width:70%;
	margin-left:auto;
	margin-right:auto;
}
#email-capture .form-group .form-control{
	border:none;
	box-shadow:none;
	font-size: 1.8em;
	background-color:#72CF7C;
	height:auto;
	color:#fff;
	text-align:left;
	font-weight:200;
}

#email-capture .form-control::-webkit-input-placeholder { /* WebKit browsers */
color:    #FFF;
}
#email-capture .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
color:    #FFF;
}
#email-capture .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
color:    #FFF;
}
#email-capture .btn{
	margin-top:10%;
	border-radius: 0;
	font-size:1.5em;
	background-color:#18692D;;
	color:#fff;
	margin-bottom:10%;
	font-weight:200;
}






#about-us{
	color:#fff;
}

#about-us p{
	color:#18692D;
	font-size:1.2em;
	line-height:1.5em;
}


#menu-links{
	background-color:#375024;
	padding:10%;
}

#menu-links .menu-section-link{
	font-size:1.5em;
	padding-top:40px;
	padding-bottom:40px;
	color:#fff;
	background-color:#A4B49A;
	text-align:center;
}

#menu-links .menu-section-link:hover{
	background-color: #8fa47e;
}

.menu-section{
	background-color: #A4B49A;
	color:#375024;
	padding:10%;
}

.menu-section .section-title{
	color:#420B21;
	font-size:2em;

}
.menu-section .subsection-title{
	color:#F1F6EA;
	font-size:1.6em;
	text-align:center;
}
.menu-section .section-title-caption{
	text-align:center;
	font-style:italic;
}
.menu-section .item-name{
	font-size:1.4em;
	width:60%;

}
.menu-section .item-price{
	float:right;
}
.menu-section .item-description{
	font-style:italic;
	font-size:.9em;
}

.menu-section .item-tag{
	font-weight:lighter;
	color:#F1F6EA;
}

#breakfast, #brunch, #lunch, #dinner, #bakery, #beverages, #desserts{
	display:none;
}


/*Footer*/

.footer{
	background-color:#420B21;
	color:white;
	height:50px;
	padding-top:1%;

}
	.footer ul{
		list-style: none;
	}

	.footer #subnav{
		display:none;
	}
		.footer #subnav li{
			display:inline;
			float:left;
		}

		.footer #social-icons li{
			float:left;
			display:inline;
			width:33%;
		}
			.footer #social-icons li img{
				width:30%;
			}

		.footer #copyright{
			text-align:right;
			display:none;
		}

/*Footer End*/




/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

/*Navbar*/

.navbar{
	height:40px;
}
	.navbar .container-fluid{
		height:inherit;
		width:800px;
		margin-left:auto;
		margin-right:auto;
	}
		.navbar .container-fluid .nav{
			float:right;
		}

.navbar .navbar-header .navbar-brand #bfc-icon{
	width:60%;
}

/*Navbar ends*/



#picture-slider .carousel .item .carousel-caption h3{
	font-size:2.8em;
}
#picture-slider .carousel .item .carousel-caption p{
	font-size:2.8em;
}

#picture-slider .carousel .item .color-overlay{
	position:absolute;
	top:45%;
	left:0;
	height:25%;
	width:100%;
	z-index:9;
}

.row div #reservation-hover, #delivery-hover, #giftcard-hover{
	width:70%;
}


.row div #reservation-hover, #delivery-hover, #giftcard-hover{
	width:90%;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	fill: #18692D;
	/*background-color:#12141C;*/
	border: 3px dashed #fff;
	/*background: rgba(146, 171, 89, 1);*/
	/*border-radius: 10px 10px;*/
}

#action-buttons .sub-section{
	margin-bottom:10%;
}

#action-buttons .container-fluid .sub-section svg{
	display:block;
	margin-left: auto;
	margin-right:auto;
}
#action-buttons .container-fluid .sub-section h3{
	text-align: center;
	color:#18692D;
	font-size:1.3em;
}

#about-us{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

#about-us img{
	width:30%;
}
}


#email-capture{
	background-color:#F0F5E9;
	text-align:left;
	color:#18692D;
}
#email-capture h1{
	font-size:3em;
	padding-top:10%;
	margin:0;
}
#email-capture form{
	width:70%;
	margin-left:auto;
	margin-right:auto;
}
#email-capture .form-group .form-control{
	border:none;
	box-shadow:none;
	font-size: 1.8em;

	height:auto;
	color:#fff;
	text-align:left;
	font-weight:200;
}
#email-capture .form-control{
	border:none;
	box-shadow: none;
	font-size: 1.8em;
	height:auto;
	color:#fff;
	text-align: left;
	font-weight:200;
}
#email-capture .form-control::-webkit-input-placeholder { /* WebKit browsers */
color:    #FFF;
}
#email-capture .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
color:    #FFF;
}
#email-capture .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
color:    #FFF;
}
#email-capture .btn{
	margin-top:3%;
	border-radius: 0;
	font-size:1.5em;

	color:#fff;
	margin-bottom:15%;
	font-weight:200;
}












/*Footer*/

.footer{
	background-color:#420B21;
	color:white;
	height:50px;
	padding-top:2%;

}
	.footer ul{
		list-style: none;
	}

	.footer #subnav{
		display:block;
	}
		.footer #subnav li{
			display:inline;
			float:left;
			padding-right:5%;
		}

		.footer #social-icons li{
			float:left;
			display:inline;
			width:33%;
		}
			.footer #social-icons li img{
				width:30%;
			}

		.footer #copyright{
			text-align:right;
			display:block;
		}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

/*Navbar*/

.footer{
	height:60px;

}

.footer .container-fluid{

}

.footer #social-icons li img{
	width:20%;

}

.navbar{
	height:100px;
	font-size:20px;
}
	.navbar .container-fluid{
		height:inherit;
	}
		.navbar .container-fluid .navbar-brand{
			width:100%;
			display:none;
		}
		.navbar .container-fluid #big-logo{
			display:block;
		}

		.navbar .contiainer-fluid .navbar-header .navbar-brand #bfc-icon{
			display:none;
		}
		.navbar .container-fluid #bfc-logo{
			display:block;
			margin-left:auto;
			margin-right:auto;
		}
		.navbar .container-fluid .navbar-collapse .nav .spacer{
				display:block;
				visibility:hidden;
			}

/*Navbar ends*/


#picture-slider .carousel .item .carousel-caption h3{
	font-size:3.5em;
}
#picture-slider .carousel .item .carousel-caption p{
	font-size:2.8em;

}


}





/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

/*Navbar*/

#about-us{
	width:70%;
}
#about-us h2{
	font-size:2.5em;
}
#about-us p{
	font-size:1.6em;
}
/*Navbar ends*/



}
