/*css doc to sit on top of bootstrap*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/*Body*/

body{
	font-family: 'Source Sans Pro', sans-serif !important;
}

h1, h2, h3, h4{
	font-weight:200 !important;
}
p, li, a{
	font-weight:400 !important;
}


a:hover{
	text-decoration: none;

}
.carousel-control.right{
	background-image:none;
}
.carousel-control.left{
	background-image:none;
}
	.carousel-control.right .glyphicon-chevron-right{
		right:0;
	}
	.carousel-control.left .glyphicon-chevron-left{
		left:0;
	}

video{
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	
	background-size: cover;
}


/*Navbar*/

.navbar{
	background-color:#fff;
	height:40px;
}
	.navbar .container-fluid{
		background-color: #fff;
		height:40px;
	}
		.navbar .container-fluid #big-logo{
			display:none;
		}
		.navbar .container-fluid #mxl-logo{
			display:none;
		}
		.navbar .container-fluid #mxl-logo-icon-center{
			display:none;
		}
		.navbar .container-fluid .navbar-brand{
			padding: 8px 15px;
		}
		.navbar .container-fluid .navbar-collapse{
			background-color: #fff;
		}
				.navbar .container-fluid .navbar-collapse .nav .active > a{
					background-color:transparent;
				}
				.navbar .container-fluid .navbar-collapse .nav .active > a:hover{
					background-color:transparent;
				}
				.navbar .navbar-header .navbar-brand #mxl-logo-icon{
					display:block;
					width:100%;
				}
			.navbar .container-fluid .navbar-collapse .nav .spacer{
				display:none;
			}
			.navbar .container-fluid .navbar-collapse .nav li a{
				font-size:1.4em;
			}
/*Navbar end*/


/*Main Content*/

.main-content{
	padding-top:50px;
	background-color: transparent;
}
	.main-content  .content-pane{
		text-align:center;
	}


/*About Pane*/

	.main-content #about{
		background-color:#262261;
		background: rgba(38, 34, 97, .8);
		height:400px;
		color:#fff;
		z-index:10;
	}
				.main-content #about #brand-copy h1{
					margin-top:15%;
				}
					.main-content #about #brand-copy h1 em{
						color:#FFF100;
						font-style:normal;
					}
				.main-content #about #brand-copy p{
					font-weight:lighter;
					font-size:18px;
					margin-bottom:5%;
				}
				/* MAKE THIS INTO A BUTTON CLASS FOR MODULARITY
				ALSO FIX FONT SIZES SO NOT MIXING EMS AND PXS*/
				.main-content #about #brand-copy a{
					color:#262261;
					background-color:#FFDD17;
					font-weight:lighter;
					padding:10px 10px;
					font-size:1.8em;
					margin-top:5%;
				}

				.main-content #about #phone-mock{
					display:none;
				}
			.main-content .arrow-svg{
				margin-top:15%;
				display:block;
				margin-left:auto;
				margin-right:auto;
			}


/*About Pane end*/



/*Assets Pane*/

	.main-content #assets{
		background-color:#F1F1F2;
	}
	.main-content #assets h3{
		font-size:3em;
		margin-top:14%;
		text-align: left
	}
	.main-content #assets p{
		font-size:1.1em;
		text-align: left
	}


/*Assets Pane end*/

/*Personas Pane*/

		.main-content #personas{
			background-color:#58585B;
		}
		.main-content #personas #persona-header h1{
				padding-top:2%;
				color:#fff;
			}
			.main-content #personas .user-avatar{
				margin-top:20%;
			}

			.main-content #personas .user-info{
				width:60%;
				margin-left:auto;
				margin-right:auto;

			}
				.main-content #personas .user-info p{
					color:#fff;
					font-size:1.2em;
				}
				.main-content #personas .user-name h3{
					color:#fff;
					font-size:3em;
				}


/*Instructions Pane*/
	.main-content #instructions .carousel-inner .item .container-fluid .row div:nth-child(2){
		display:none;
	}
	.main-content #instructions .carousel-inner .item .container-fluid .row div:nth-child(3){
		display:none;
	}


/*Press pane*/
	.main-content #press{
				background-color: #262261;
	}
		.main-content #press #press-icon-row{
			padding:25px 0px;
		}
			.main-content #press #press-icon-row div{
				padding-top:25px;
			}
			.main-content #press #press-icon-row div img{
				width:80%;
			}
		.main-content #press #press-quotes{
			width:90%;
			margin-left:auto;
			margin-right:auto;
		}

		.main-content #press #press-quotes h4{
			color:#fff;
		}
		.main-content #press #press-quotes p{
			color:#fff;
			width:100%;
			text-align: right
		}
		

/*Pricing Pane*/

		.main-content #pricing #pricing-cards{
			padding:50px 0px;
		}
			.main-content #pricing #pricing-cards .card { 
				padding:25px 0px;
				
				margin-left:30px;
				margin-right:30px;
			}
			.main-content #pricing #pricing-cards #free .card-top{
				background-color: #FFDD17;
			}
			.main-content #pricing #pricing-cards #basic .card-top{
				background-color: #FFF100;
			}
			.main-content #pricing #pricing-cards #pro .card-top{
				background-color: #FFF79F;
			}
			.main-content #pricing #pricing-cards .plan-info{
				display:none;
				background-color: #fff;
			}
				.main-content #pricing #pricing-cards .card ul{
					list-style: none;
					padding: 25px 20px;
				}
				.main-content #pricing #pricing-cards .card .card-top{
					height:80px;
					color: #262261;
				}
					.main-content #pricing #pricing-cards .card ul li{
						margin:25px 25px;
						text-align: left;
					}
					.main-content #pricing #pricing-cards .card .card-top h4{
						margin-top:0px;
					}

/*Pricing Pane end*/

/*Contact pane*/

	.main-content #contact{
		background-color: #58585B;
		text-align:left;
		color:#fff;
		height:700px;

	}
		.main-content #contact h1{
			text-align: center;
		}
		.main-content #contact .contact-box{
			background-color:#555;
			height:100px;
			color:#E6E7E8;
			margin-bottom:50px;
		}
			.main-content #contact #contact-form{
				padding-top:50px;
			}
			.main-content #contact #contact-boxes{
				padding-left:50px;
			}

			.main-content #contact #contact-form .form-group .form-control{
				border:none;
				box-shadow:none;
				font-size: 1.8em;
				background-color:#555;
				height:auto;
				color:#fff;
			}
			.main-content #contact #contact-form .form-control{
				border:none;
				box-shadow: none;
				font-size: 1.8em;
				background-color:#555;
				height:auto;
				color:#fff;
			}
			.main-content #contact #contact-form .btn{
				margin-top:10%;
				border-radius: 0;
				font-size:1.5em;
				background-color: #e6e7e8;
			}

/*Footer*/

.footer{
	background-color:#fff;
	height:50px;
}
	.footer ul{
		list-style: none;
		color:#555;
	}
	.footer ul li{
		display:inline;
		padding:5%;
	}

	
	.footer #copyright{
	text-align: center;
	color:#555;
}

	.footer #social-icons ul{
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	.footer #social-icons ul li{
		display:inline;

	}

/*Footer End*/




/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

/*Navbar*/

.navbar{
	height:40px;
}
	.navbar .container-fluid{
		height:inherit;
	}
		.navbar .container-fluid .navbar-brand{
			display:block;
		}
		.navbar .container-fluid #mxl-logo-icon-center{
			margin-left:auto;
			margin-right:auto;
			width:40px;
			float:center;
		}
		.navbar .container-fluid .navbar-collapse .nav{
			float:right;
		}
		.navbar .navbar-header .navbar-brand #mxl-logo-icon{
		}
			.navbar .container-fluid .navbar-collapse .nav .spacer{
				display:block;
				visibility:hidden;
			}
			.navbar .container-fluid .navbar-collapse .nav li a{
				font-size:1.2em;
			}
		
/*Navbar ends*/


/*About Pane*/

	.main-content #about{
		height:800px;
		text-align: left;
	}
	.main-content #about #brand-copy{
		padding-top:30%;
			padding-left:8%;
	}
				.main-content #about #brand-copy h1{
					font-size:4em;
					margin-top:0;
					width:70%;
				}
				.main-content #about #brand-copy p{
					font-size:1.8em;
					margin-top:5%;
					width:50%;
				}
				.main-content #about #phone-mock{
			display:block;
			padding-top:40%;
			padding-left:25%;
		}
	

		.main-content .arrow-svg{
				display:block;
				margin-left:auto;
				margin-right:auto;
				width:3em;
				height:3em;
				margin-top:8%;
			}
				.main-content #about .game-art{
					visibility: hidden;
					width:100%;
				}
				.main-content #about #games{
					padding-top:40%;
				}
				.main-content #about #othergame{
					float:right;
					margin-top:10%;
				}
				.main-content #about #waka{
					float:right;
				}
				.main-content #about #urban{
					float:left;
					margin-top:10%;
				}
				.main-content #about #bikerace{
					float:right;
					margin-top:10%;
				}
					.main-content #about #othergame img{
						float:right;
					}
					.main-content #about #waka img{
						float:right;
					}
					.main-content #about #urban img{
						float:left;
					}
					.main-content #about #bikerace img{
						float:right;
					}
/*About Pane ends*/

/*Assets Pane*/
	.main-content #assets{
			height:1400px;
	}
		.main-content #assets #features-box, #mktg-box, #analytics-box, #thirdparty-box{
			background-color:#fff;
			height:150px;
		}

/*Assets Pane ends*/


/*Personas Pane*/
		.main-content #personas{
			height:800px;
		}
			
			.main-content #personas .user-avatar{
				margin-top:10%;
			}
			.main-content #personas .user-avatar img{
					width:80%;
				}
			.main-content #personas .user-info{
				width:80%;
				margin-left:auto;
				margin-right:auto;
			}
			.main-content #personas .arrow-svg{
				margin-top:5%;
			}
/*Personas Pane ends*/


/*Instructions Pane*/

.main-content #instructions{
	height: 400px;
}
.main-content #instructions .carousel-inner .item .container-fluid .row div:nth-child(2){
		display:block;
	}
	.main-content #instructions .carousel-inner .item .container-fluid .row div:nth-child(3){
		display:block;
	}
	.main-content #instructions{
		background-color: #E6E7E8;
	}
		.main-content #instructions .carousel{
			padding-top:50px;
			text-align:left;
		}
		.main-content #instructions .carousel .item .container-fluid .row div img{
			width:90%;
			}
			.main-content #instructions .carousel .item .row h2{
				font-size:3em;
				text-align:center;
				margin-left:auto;
				margin-right:auto;
			}
			.main-content #instructions .carousel .item .row p{
				font-size:1.2em;
				width:70%;
				margin-left:auto;
				margin-right:auto;
			}

/*Press pane*/
.main-content #press{
				background-color: #262261;
				height:800px;
	}
		.main-content #press #press-icon-row{
			padding:50px 0px;
		}
			.main-content #press #press-icon-row div{
				padding-top:0px;
			}
		.main-content #press p{
			color:#fff;
			text-align: left;
			width:80%;
			font-size:1.6em;
		}
		.main-content #press h4{
			font-size:2.4em;
			color:#fff;
			margin-top:15%;
		}
		.main-content #press #press-quotes{
			width:80%;
			margin-left:auto;
			margin-right:auto;
		}
			

/*Pricing Pane*/


	.main-content #pricing{
		height:600px;
	}
		.main-content #pricing #pricing-cards{
			padding:25px 0px;
		}	
			.main-content #pricing #pricing-cards .card{
				margin:0px;
				padding:0px 25px;
			}
				.main-content #pricing #pricing-cards .card .plan-info{
					display:block;
				}
				.main-content #pricing #pricing-cards .small-card{
					width:60%;
					margin-top:8%;
					margin-left:auto;
					margin-right:auto;
				}

/*Pricing Pane ends*/



/*MXLGames*/
.main-content #portfolio{
	display:block;
	background-color:#196cad;
	height:800px;
	padding-left:0;
	padding-right:0;
}

.main-content #portfolio .left{
	padding:0px;
}
.main-content #portfolio .left-box{
	width:100%;
	height:200px;
	border:1px solid #fff;
	color:#fff;
}
.main-content #portfolio .left-box h2{
	font-weight:lighter;
	padding:70px;
}


.main-content #portfolio .right{
	padding:0px;
}
.main-content #portfolio .right-box{
	width:100%;
	height:800px;
	border:1px solid #fff;
	color:#fff;
}
.main-content #portfolio .right-box h2{
	font-weight:normal;
	padding:50px;
}

.main-content #portfolio .right-box img{
	max-width:60%;
	padding: 15px 15px;
}

.main-content .content-pane .four-boxes{
	max-width:80%;
}

.main-content .content-pane .four-boxes .row div{
	height:300px;
}
.main-content .content-pane .four-boxes .row div h2{
	padding-top:125px;
}

.main-content #portfolio #small-3rdparty{
	
}
.main-content #portfolio #big-3rdparty, #big-marketing, #big-analytics{
	display:none;
}
			
}



.footer{
	height:50px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

/*Navbar*/


.navbar{
	height:100px;
}
	.navbar .container-fluid{
		padding:0;
	}
		.navbar .container-fluid .navbar-brand{
			width:100%;
			display:block;
			padding:0;
		}
		.navbar .container-fluid .navbar-collapse .nav{
			margin-top:-25px;
			margin-right:2%;
		}
		.navbar .container-fluid #big-logo{
			display:block;
		}
		.navbar .container-fluid #mxl-logo{
			display:block;
			width:20%;
			margin-left:8%;
			margin-top:2%;
		}
		.navbar .container-fluid #mxl-logo-icon-center{
			display:none;
		}
		.navbar .navbar-header .navbar-brand #mxl-logo-icon{
			display:none;
		}

/*Navbar ends*/

.main-content .content-pane{
	height:600px;
}
.footer{
	height:50px;
	color:white;
}

/*About Pane*/
	.main-content #about #brand-copy{
		padding-top:18%;
	}
	.main-content #about #phone-mock{
		padding-top:40%;
	}
			.main-content #about #brand-copy h1{
				font-size:4em;
			}
			.main-content #about #brand-copy a{
				margin-top:5%;
			}

				.main-content .arrow-svg{
				margin-top:3%;
			}
/*About Pane ends*/


.main-content #instructions {
			height:500px;
		}

.main-content #about{
	height:700px;
}


.main-content #press{
	height:900px;
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

	.main-content .content-pane{
			padding-left:10%;
			padding-right:10%;
		}


}

@media (min-width:1366px){



/*About Pane*/

		.main-content #about #brand-copy{
			padding-top:20%;
			padding-left:10%;
		}
			.main-content #about #brand-copy h1{
				font-size:4em;
			}
			.main-content #about #brand-copy p{
			}
		.main-content #about #phone-mock{
			padding-top:20%;
		}


/*About Pane end*/

/*Assets Pane*/

		
		.main-content #instructions {
			height:800px;
		}
		.main-content #press{
			height:1100px;
		}



}



@media (min-width:1500px){
.navbar .container-fluid #mxl-logo{

			width:15%;

		}



	.main-content #about #phone-mock img{
		width:40%;
	}
}