/*css doc to sit on top of bootstrap*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/*Body*/

body{
	font-family: 'Source Sans Pro', sans-serif !important;
}

h1, h2, h3, h4{
	font-weight:200 !important;
}
p, li, a{
	font-weight:400 !important;
}


a:hover{
	text-decoration: none;

}


video{display:none;}


/*Navbar*/

.navbar{
	background-color:#fff;
	height:40px;
	z-index:10000;
}
	.navbar .container-fluid{
		background-color: #fff;
		height:40px;
	}
		.navbar .container-fluid #big-logo{
			display:none;
		}
		.navbar .container-fluid #mxl-logo{
			display:none;
		}
		.navbar .container-fluid #mxl-logo-icon-center{
			display:none;
		}
		.navbar .container-fluid .navbar-brand{
			padding: 8px 15px;
		}
		.navbar .container-fluid .navbar-collapse{
			background-color: #fff;
		}
				.navbar .container-fluid .navbar-collapse .nav .active > a{
					background-color:transparent;
				}
				.navbar .container-fluid .navbar-collapse .nav .active > a:hover{
					background-color:transparent;
				}
				.navbar .navbar-header .navbar-brand #mxl-logo-icon{
					display:block;
					width:100%;
				}
			.navbar .container-fluid .navbar-collapse .nav .spacer{
				display:none;
			}
			.navbar .container-fluid .navbar-collapse .nav li a{
				font-size:1.4em;
			}
/*Navbar end*/


/*Main Content*/

.main-content{
	height:100%;
	width:100%;
	background-image: url('./img/mxl-bg.png');
	margin:0;

}
	.main-content  .content-pane{
		text-align:center;
	}


/*About Pane*/

	.main-content #about{
		background: rgba(0, 188, 242, .8);
		padding:0;
		color:#fff;
		z-index:10;
		width:100%;

	}
	.main-content #about h1{
		margin-top:35%;
		font-size:3em;
	}

	.main-content #other-sites #logo-row .sub-logo img{
		width:100%;
		margin-top:5%;
		padding-bottom:10%;
	}
	.main-content #other-sites #logo-row hr{
		display:block;
		height:2px;
		background: #e6e7e8;
		margin-top:2%;
		margin-bottom:2%;
	}

	.main-content #other-sites #logo-row .sub-info{
		display:none;
		margin-top:10%;
		text-align: left;
		padding-bottom:15%;
	}
	.main-content #about .arrow-svg{
		margin-top:35%;
		margin-bottom:10%;
		height:3em;
		width:3em;
	}
.main-content #other-sites{
	background-color: #fff;
	width:100%;
	padding:40px 80px;
	z-index:10;

}
.main-content #other-sites hr{
	display:none;
}

.main-content #other-sites .sub-info a{
	color:#fff;
	padding:2%;
}	

.main-content #other-sites #apps-info a{
	background-color:#38B449;
	float:right;
}
.main-content #other-sites #build-info a{
	background-color:#FFDD17;
	float:right;
}
.main-content #other-sites #games-info a{
	background-color:#F15A29;
	float:right;
}

/*About Pane end*/

.main-content #contact{
		background-color: #58585B;
		text-align:left;
		color:#fff;
		height:700px;

	}
		.main-content #contact h1{
			text-align: center;
		}
		.main-content #contact .contact-box{
			background-color:#555;
			height:100px;
			color:#E6E7E8;
			margin-bottom:50px;
		}
			.main-content #contact #contact-form{
				padding-top:50px;
			}
			.main-content #contact #contact-boxes{
				padding-left:50px;
			}

			.main-content #contact #contact-form .form-group .form-control{
				border:none;
				box-shadow:none;
				font-size: 1.8em;
				background-color:#555;
				height:auto;
				color:#fff;
			}
			.main-content #contact #contact-form .form-control{
				border:none;
				box-shadow: none;
				font-size: 1.8em;
				background-color:#555;
				height:auto;
				color:#fff;
			}
			.main-content #contact #contact-form .btn{
				margin-top:10%;
				border-radius: 0;
				font-size:1.5em;
				background-color: #e6e7e8;
			}

.footer{
	background-color:#fff;
	height:50px;
}
.footer .container-fluid{
	height:50px;
}
.footer .container-fluid .row {
}
.footer .container-fluid .row .col-xs-4{
	height:50px;
}
	.footer img{
		margin-top:10px;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	.footer #footer-left:hover{
		border-bottom: 5px solid #FFDD17;
	}
	.footer #footer-center:hover{
		border-bottom: 5px solid #262261;
	}
	.footer #footer-right:hover{
		border-bottom: 5px solid #F15A29;
	}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 


video{
	display:block;
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	
	background-size: cover;
}
/*Navbar*/

.navbar{
	height:40px;
}
	.navbar .container-fluid{
		height:inherit;
	}
		.navbar .container-fluid .navbar-brand{
			display:block;
		}
		.navbar .container-fluid #mxl-logo-icon-center{
			margin-left:auto;
			margin-right:auto;
			width:40px;
			float:center;
		}
		.navbar .container-fluid .navbar-collapse .nav{
			float:right;
		}
		.navbar .navbar-header .navbar-brand #mxl-logo-icon{
		}
			.navbar .container-fluid .navbar-collapse .nav .spacer{
				display:block;
				visibility:hidden;
			}
			.navbar .container-fluid .navbar-collapse .nav li a{
				font-size:1.2em;
			}
		
/*Navbar ends*/
.main-content{
	width:100%;
	margin:0;

}
	.main-content  .content-pane{
		text-align:center;
	}


/*About Pane*/

	.main-content #about{
		padding:0;
		color:#fff;
		z-index:10;
		width:100%;
		background: rgba(0, 188, 242, .8);
	}
	.main-content #about h1{
		margin-top:25%;
		font-size:3em;
	}
	.main-content #other-sites #logo-row{
		margin-top:10%;
		padding-bottom:50%;
	}
		.main-content #other-sites #logo-row div{
			
		}
	.main-content #other-sites #logo-row .sub-logo img{
		
	}

	.main-content #other-sites #logo-row .sub-info{
		display:none;
		margin-top:10%;
	}
	.main-content #other-sites #logo-row .sub-info p{
		text-align: left;
	}
.main-content #other-sites #logo-row hr{
		display:none;
		
	}

	.main-content #about .arrow-svg{
		margin-top:15%;
		height:3em;
		width:3em;
	}
.main-content #other-sites{
	background-color: #fff;
	width:100%;
	
	z-index:10;
	padding-top:40px;

}
.main-content #other-sites hr{
	height:1px;
	background:#e6e7e8;
}

.main-content #other-sites #apps-info a{
	color:#fff;
	float:right;
}
.main-content #other-sites #build-info a{
	color:#fff;
	float:right;
}
.main-content #other-sites #games-info a{
	color:#fff;
	float:right;
}



/*About Pane end*/

.main-content #contact{
		background-color: #58585B;
		text-align:left;
		color:#fff;
		height:700px;

	}
		.main-content #contact h1{
			text-align: center;
		}
		.main-content #contact .contact-box{
			background-color:#555;
			height:100px;
			color:#E6E7E8;
			margin-bottom:50px;
		}
			.main-content #contact #contact-form{
				padding-top:50px;
			}
			.main-content #contact #contact-boxes{
				padding-left:50px;
			}

			.main-content #contact #contact-form .form-group .form-control{
				border:none;
				box-shadow:none;
				font-size: 1.8em;
				background-color:#555;
				height:auto;
				color:#fff;
			}
			.main-content #contact #contact-form .form-control{
				border:none;
				box-shadow: none;
				font-size: 1.8em;
				background-color:#555;
				height:auto;
				color:#fff;
			}
			.main-content #contact #contact-form .btn{
				margin-top:10%;
				border-radius: 0;
				font-size:1.5em;
				background-color: #e6e7e8;
			}

.footer{
	background-color:#fff;
	height:50px;
}
.footer .container-fluid{
	height:50px;
}
.footer .container-fluid .row {
}
.footer .container-fluid .row .col-xs-4{
	height:50px;
}
	.footer img{
		margin-top:10px;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	.footer #footer-left:hover{
		border-bottom: 5px solid #FFDD17;
	}
	.footer #footer-center:hover{
		border-bottom: 5px solid #262261;
	}
	.footer #footer-right:hover{
		border-bottom: 5px solid #F15A29;
	}

/*About Pane*/



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

/*Navbar*/


.navbar{
	height:100px;
}
	.navbar .container-fluid{
		padding:0;
	}
		.navbar .container-fluid .navbar-brand{
			width:100%;
			display:block;
			padding:0;
		}
		.navbar .container-fluid .navbar-collapse .nav{
			margin-top:-25px;
			margin-right:2%;
		}
		.navbar .container-fluid #big-logo{
			display:block;
		}
		.navbar .container-fluid #mxl-logo{
			display:block;
			width:25%;
			margin-left:8%;
			margin-top:2%;
		}
		.navbar .container-fluid #mxl-logo-icon-center{
			display:none;
		}
		.navbar .navbar-header .navbar-brand #mxl-logo-icon{
			display:none;
		}

/*Navbar ends*/
.main-content{
	height:100%;
	width:100%;
	margin:0;

}
	.main-content  .content-pane{
		text-align:center;
	}


/*About Pane*/

	.main-content #about{
		background: rgba(0, 188, 242, .8);
		padding:0;
		color:#fff;
		z-index:10;
		height:800px;
		width:100%;

	}
	.main-content #about h1{
		margin-top:30%;
		font-size:4em;
	}
/*	.main-content #other-sites #logo-row{
		margin-top:10%;
	}
	.main-content #other-sites #logo-row .sub-logo img{
		width:100%;
	}

	.main-content #other-sites #logo-row .sub-info{
		display:none;
		margin-top:10%;
	}
	.main-content #about .arrow-svg{
		margin-top:25%;
		height:3em;
		width:3em;
	}
.main-content #other-sites{
	background-color: #fff;
	height:700px;
	width:100%;
	z-index:10;
	padding-top:40px;

	padding-left:0;
	padding-right:0;

}
.main-content #other-sites hr{
	height:1px;
	background:#e6e7e8;
}*/
.main-content #other-sites #logo-row{
		margin-top:10%;
		padding-bottom:30%;
	}
	.main-content #other-sites #logo-row .sub-logo img{
		width:100%;
	}

	.main-content #other-sites #logo-row .sub-info{
		display:none;
		margin-top:10%;
	}
	.main-content #about .arrow-svg{
		margin-top:15%;
		height:3em;
		width:3em;
	}
.main-content #other-sites{
	background-color: #fff;
	
	width:100%;
	z-index:10;
	padding-top:40px;


}
.main-content #other-sites hr{
	height:1px;
	background:#e6e7e8;
}

.main-content #other-sites #apps-info a{
	color:#38B449;
	float:right;
}
.main-content #other-sites #build-info a{
	color:#FFDD17;
	float:right;
}
.main-content #other-sites #games-info a{
	color:#F15A29;
	float:right;
}

.main-content #other-sites #apps-info a{
	color:#38B449;
	float:right;
}
.main-content #other-sites #build-info a{
	color:#FFDD17;
	float:right;
}
.main-content #other-sites #games-info a{
	color:#F15A29;
	float:right;
}

/*About Pane end*/

.main-content #contact{
		background-color: #58585B;
		text-align:left;
		color:#fff;
		height:700px;

	}
		.main-content #contact h1{
			text-align: center;
		}
		.main-content #contact .contact-box{
			background-color:#555;
			height:100px;
			color:#E6E7E8;
			margin-bottom:50px;
		}
			.main-content #contact #contact-form{
				padding-top:50px;
			}
			.main-content #contact #contact-boxes{
				padding-left:50px;
			}

			.main-content #contact #contact-form .form-group .form-control{
				border:none;
				box-shadow:none;
				font-size: 1.8em;
				background-color:#555;
				height:auto;
				color:#fff;
			}
			.main-content #contact #contact-form .form-control{
				border:none;
				box-shadow: none;
				font-size: 1.8em;
				background-color:#555;
				height:auto;
				color:#fff;
			}
			.main-content #contact #contact-form .btn{
				margin-top:10%;
				border-radius: 0;
				font-size:1.5em;
				background-color: #e6e7e8;
			}

.footer{
	background-color:#fff;
	height:50px;
}
.footer .container-fluid{
	height:50px;
}
.footer .container-fluid .row {
}
.footer .container-fluid .row .col-xs-4{
	height:50px;
}
	.footer img{
		margin-top:10px;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	.footer #footer-left:hover{
		border-bottom: 5px solid #FFDD17;
	}
	.footer #footer-center:hover{
		border-bottom: 5px solid #262261;
	}
	.footer #footer-right:hover{
		border-bottom: 5px solid #F15A29;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

.main-content{
	height:100%;
	width:100%;
	background: rgba(0, 188, 242, .8);
	margin:0;

}
	.main-content  .content-pane{
		text-align:center;
	}


/*About Pane*/

	.main-content #about{
		padding:0;
		color:#fff;
		z-index:10;
		height:800px;
		width:100%;

	}
	.main-content #about h1{
		margin-top:25%;
		font-size:4em;
		width:80%;
		margin-left:auto;
		margin-right:auto;
	}
	.main-content #other-sites #logo-row{
		margin-top:10%;
	}
	.main-content #other-sites #logo-row .sub-logo img{
		width:100%;
	}

	.main-content #other-sites #logo-row .sub-info{
		display:none;
		margin-top:10%;
	}
	.main-content #about .arrow-svg{
		margin-top:15%;
		height:3em;
		width:3em;
	}
.main-content #other-sites{
	background-color: #fff;

	width:100%;
	z-index:10;
	padding-top:40px;


}
.main-content #other-sites hr{
	height:1px;
	background:#e6e7e8;
}

.main-content #other-sites #apps-info a{
	color:#38B449;
	float:right;
}
.main-content #other-sites #build-info a{
	color:#FFDD17;
	float:right;
}
.main-content #other-sites #games-info a{
	color:#F15A29;
	float:right;
}

/*About Pane end*/

.main-content #contact{
		background-color: #58585B;
		text-align:left;
		color:#fff;
		height:700px;

	}
		.main-content #contact h1{
			text-align: center;
		}
		.main-content #contact .contact-box{
			background-color:#555;
			height:100px;
			color:#E6E7E8;
			margin-bottom:50px;
		}
			.main-content #contact #contact-form{
				padding-top:50px;
			}
			.main-content #contact #contact-boxes{
				padding-left:50px;
			}

			.main-content #contact #contact-form .form-group .form-control{
				border:none;
				box-shadow:none;
				font-size: 1.8em;
				background-color:#555;
				height:auto;
				color:#fff;
			}
			.main-content #contact #contact-form .form-control{
				border:none;
				box-shadow: none;
				font-size: 1.8em;
				background-color:#555;
				height:auto;
				color:#fff;
			}
			.main-content #contact #contact-form .btn{
				margin-top:10%;
				border-radius: 0;
				font-size:1.5em;
				background-color: #e6e7e8;
			}

.footer{
	background-color:#fff;
	height:50px;
}
.footer .container-fluid{
	height:50px;
}
.footer .container-fluid .row {
}
.footer .container-fluid .row .col-xs-4{
	height:50px;
}
	.footer img{
		margin-top:10px;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	.footer #footer-left:hover{
		border-bottom: 5px solid #FFDD17;
	}
	.footer #footer-center:hover{
		border-bottom: 5px solid #262261;
	}
	.footer #footer-right:hover{
		border-bottom: 5px solid #F15A29;
	}

}

@media (min-width:1366px){


.main-content{
	height:100%;
	width:100%;
	background: rgba(0, 188, 242, .8);
	margin:0;

}
	.main-content  .content-pane{
		text-align:center;
	}


/*About Pane*/

	.main-content #about{
		padding:0;
		color:#fff;
		z-index:10;
		height:800px;
		width:100%;

	}
	.main-content #about h1{
		margin-top:25%;
		font-size:3em;
	}
	.main-content #other-sites #logo-row{
		margin-top:10%;
	}
	.main-content #other-sites #logo-row .sub-logo img{
		width:100%;
	}

	.main-content #other-sites #logo-row .sub-info{
		display:none;
		margin-top:10%;
	}
	.main-content #about .arrow-svg{
		margin-top:15%;
		height:3em;
		width:3em;
	}
.main-content #other-sites{
	background-color: #fff;

	width:100%;
	z-index:10;
	padding-top:40px;

}
.main-content #other-sites hr{
	height:1px;
	background:#e6e7e8;
}

.main-content #other-sites #apps-info a{
	color:#38B449;
	float:right;
}
.main-content #other-sites #build-info a{
	color:#FFDD17;
	float:right;
}
.main-content #other-sites #games-info a{
	color:#F15A29;
	float:right;
}

/*About Pane end*/

.main-content #contact{
		background-color: #58585B;
		text-align:left;
		color:#fff;
		height:700px;

	}
		.main-content #contact h1{
			text-align: center;
		}
		.main-content #contact .contact-box{
			background-color:#555;
			height:100px;
			color:#E6E7E8;
			margin-bottom:50px;
		}
			.main-content #contact #contact-form{
				padding-top:50px;
			}
			.main-content #contact #contact-boxes{
				padding-left:50px;
			}

			.main-content #contact #contact-form .form-group .form-control{
				border:none;
				box-shadow:none;
				font-size: 1.8em;
				background-color:#555;
				height:auto;
				color:#fff;
			}
			.main-content #contact #contact-form .form-control{
				border:none;
				box-shadow: none;
				font-size: 1.8em;
				background-color:#555;
				height:auto;
				color:#fff;
			}
			.main-content #contact #contact-form .btn{
				margin-top:10%;
				border-radius: 0;
				font-size:1.5em;
				background-color: #e6e7e8;
			}

.footer{
	background-color:#fff;
	height:50px;
}
.footer .container-fluid{
	height:50px;
}
.footer .container-fluid .row {
}
.footer .container-fluid .row .col-xs-4{
	height:50px;
}
	.footer img{
		margin-top:10px;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	.footer #footer-left:hover{
		border-bottom: 5px solid #FFDD17;
	}
	.footer #footer-center:hover{
		border-bottom: 5px solid #262261;
	}
	.footer #footer-right:hover{
		border-bottom: 5px solid #F15A29;
	}




}



@media (min-width:1500px){

.navbar .container-fluid #mxl-logo{

			width:15%;

		}
.main-content{
	height:100%;
	width:100%;
	background: rgba(0, 188, 242, .8);
	margin:0;

}
	.main-content  .content-pane{
		text-align:center;
	}


/*About Pane*/

	.main-content #about{
		padding:0;
		color:#fff;
		z-index:10;
		height:800px;
		width:100%;

	}
	.main-content #about h1{
		margin-top:25%;
		font-size:3em;
	}
	.main-content #other-sites #logo-row{
		margin-top:10%;
	}
	.main-content #other-sites #logo-row .sub-logo img{
		width:100%;
	}

	.main-content #other-sites #logo-row .sub-info{
		display:none;
		margin-top:10%;
	}
	.main-content #about .arrow-svg{
		margin-top:15%;
		height:3em;
		width:3em;
	}
.main-content #other-sites{
	background-color: #fff;
	height:800px;
	width:100%;
	z-index:10;
	padding-top:40px;

}
.main-content #other-sites hr{
	height:1px;
	background:#e6e7e8;
}

.main-content #other-sites #apps-info a{
	color:#38B449;
	float:right;
}
.main-content #other-sites #build-info a{
	color:#FFDD17;
	float:right;
}
.main-content #other-sites #games-info a{
	color:#F15A29;
	float:right;
}

/*About Pane end*/

.main-content #contact{
		background-color: #58585B;
		text-align:left;
		color:#fff;
		height:700px;

	}
		.main-content #contact h1{
			text-align: center;
		}
		.main-content #contact .contact-box{
			background-color:#555;
			height:100px;
			color:#E6E7E8;
			margin-bottom:50px;
		}
			.main-content #contact #contact-form{
				padding-top:50px;
			}
			.main-content #contact #contact-boxes{
				padding-left:50px;
			}

			.main-content #contact #contact-form .form-group .form-control{
				border:none;
				box-shadow:none;
				font-size: 1.8em;
				background-color:#555;
				height:auto;
				color:#fff;
			}
			.main-content #contact #contact-form .form-control{
				border:none;
				box-shadow: none;
				font-size: 1.8em;
				background-color:#555;
				height:auto;
				color:#fff;
			}
			.main-content #contact #contact-form .btn{
				margin-top:10%;
				border-radius: 0;
				font-size:1.5em;
				background-color: #e6e7e8;
			}

.footer{
	background-color:#fff;
	height:50px;
}
.footer .container-fluid{
	height:50px;
}
.footer .container-fluid .row {
}
.footer .container-fluid .row .col-xs-4{
	height:50px;
}
	.footer img{
		margin-top:10px;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	.footer #footer-left:hover{
		border-bottom: 5px solid #FFDD17;
	}
	.footer #footer-center:hover{
		border-bottom: 5px solid #262261;
	}
	.footer #footer-right:hover{
		border-bottom: 5px solid #F15A29;
	}


}