/*css doc to sit on top of bootstrap*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/*Body*/

body{
  font-family: 'Source Sans Pro', sans-serif !important;
}

h1, h2, h3, h4{
  font-weight:200;
}
p, li, a{
  font-weight:400;
}


a:hover{
  text-decoration: none;

}
.carousel-control.right{
  background-image:none;
}
.carousel-control.left{
  background-image:none;
}
  .carousel-control.right .glyphicon-chevron-right{
    right:0;
  }
  .carousel-control.left .glyphicon-chevron-left{
    left:0;
  }

video{
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;

  background-size: cover;
}


/*Navbar*/

.navbar{
  background-color:#fff;
  height:40px;
  z-index:10000;
}
  .navbar .container-fluid{
    background-color: #fff;
    height:40px;
  }
    .navbar .container-fluid #big-logo{
      display:none;
    }
    .navbar .container-fluid #mxl-logo{
      display:none;
    }
    .navbar .container-fluid #mxl-logo-icon-center{
      display:none;
    }
    .navbar .container-fluid .navbar-brand{
      padding: 8px 15px;
    }
    .navbar .container-fluid .navbar-collapse{
      background-color: #fff;
    }
        .navbar .container-fluid .navbar-collapse .nav .active > a{
          background-color:transparent;
          color:#00ACF5;
        }
        .navbar .container-fluid .navbar-collapse .nav .active > a:hover{
          background-color:transparent;
        }
        .navbar .navbar-header .navbar-brand #mxl-logo-icon{
          display:block;
          width:100%;
        }
      .navbar .container-fluid .navbar-collapse .nav .spacer{
        display:none;
      }
      .navbar .container-fluid .navbar-collapse .nav li a{
        font-size:1.4em;
      }
      .navbar .container-fluid .navbar-collapse .nav .active{

      }
/*Navbar end*/

.container{
  margin:0;
  padding:0;
  width:100%;
}

/*Main Content*/

.main-content{
  height:100%;
  width:100%;
  background-image: url('../../img/iso.png');
  background-repeat:repeat;
  margin:0;
  padding-top:40px;
}
  .main-content  .content-pane{
    text-align:center;
  }

  .main-content .container-fluid{
    padding:0;
    background: rgba(255, 255, 255, .6);
  }


.sidebar{
  display:none;
}
.medium-sidebar{
  display:none;
}
.main-content .container-fluid .all-posts{
  background: rgba(255, 255, 255, .7);
  padding:0;
}

.main-content .container-fluid .sidebar{
  background: rgba(255, 255, 255, .7);
}

.main-content .container-fluid .mobile-sidebar .sidebar-post-title{
  font-size:1.6em;
  line-height:1em;
}

.main-content .container-fluid .mobile-sidebar h1{
  display:none;
}

.main-content .container-fluid .mobile-sidebar ul{
  list-style: none;
}

.main-content .container-fluid .mobile-sidebar #blog-posts-list .row{
  margin-bottom:5%;
}

.main-content .container-fluid .mobile-sidebar .mini-avi{
  width:100%;
}

.main-content .container-fluid .sidebar ul{
  list-style: none;
}
.main-content .blog-post{
  
  display:block;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}
.main-content .blog-post .post-title{
  color:#00ACF5;
  margin:0;
}

.main-content .blog-post .post-link{
  padding-bottom:5%;
  border-bottom: 2px dashed #00ACF5;
  font-size:1.4em;
}

.main-content .mini-avi{
  border-radius: 50px 50px;
  width:100%;
}
.main-content .post-avi{
  width:15%;
  border-radius: 50px 50px;
}
.main-content #blog-posts-list{
  padding:0;
  margin-bottom:10%;
}


/*.main-content .blog-post .post-preview{
    background: rgba(255, 255, 255, .6);
}
.main-content .blog-post .post-image{
    background: rgba(255, 255, 255, .6);
}*/

/*

.main-content .blog-post .post-preview p{
  display: block; /* Fallback for non-webkit */
/*  display: -webkit-box;
  height: 80px;  Fallback for non-webkit 
  margin: 0 auto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
*/

.main-content .feature-blog-post{
  position:relative;
  margin-bottom:10%;
}
.main-content .feature-blog-post .post-image{
  width:100%;
  overflow:hidden;
  max-height:300px;
}

.main-content .feature-blog-post .post-image img{
  width:100%;
}

.main-content .blog-post .mini-image{
  width:100%;
  display:none;
}

.main-content .feature-blog-post .post-caption{
  position:absolute;
  background: rgba(0, 188, 242, .7);
  bottom:0;
  width: 100%;
  padding-left:5%;
}

.main-content .blog-post div{
  padding:0;
}

.main-content .blog-post .post-preview .post-excerpt{
  line-height:1.6em;
  font-size:1.3em;
  color:#000;
}

.main-content .blog-post .social-links{
  list-style: none;
  display:none;
}
.main-content .social-links li:hover path{
  fill:#262261;
}

.main-content .feature-blog-post .post-caption .post-title{
  color:#fff;
  font-size:2em;
}
.main-content .feature-blog-post .post-caption .post-author{
  color:#e6e7e8;
  font-style:italic;
  font-size:1.2em;
}

.main-content .blog-post .post-author{
 
  font-style:italic;
}
.main-content .blog-post .post-date{
  display:none;
}

.main-content .feature-blog-post .post-caption p{
  font-size:1.2em;
  color:#FFDD17;
  display:none;
}
.main-content .feature-blog-post .post-caption:hover p{
  color:#CFB313;
}






/*post.html*/



.indiv-post .container-fluid div{
  padding:0;
}

.indiv-post .main-post{
  background: rgba(255, 255, 255, .7);
}

.indiv-post .main-post p{
  margin-top:0;
  margin-bottom:0;
  width:90%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  line-height:1.6em;
  font-size:1.3em;
  padding-bottom:5%;
}

.indiv-post .main-post h2{
  padding-left:5%;
}

.indiv-post .social-links{
  display:block;
  list-style: none;
  padding-left:5%;
}

.indiv-post .main-post .muted{
  padding-bottom:0;
}

.indiv-post .post-author{
  padding-left:5%;
}

.indiv-post .social-links li{
  display:inline-block;
}

.indiv-post .sidebar{
  display:none;
}

.indiv-post .post-content img{
  display:block;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.indiv-post .main-post-title{
  color:#262261;
  margin-top:0;
  padding-top:5%;
  padding-left:5%;
  width:90%;
}

.indiv-post .main-post .nav-buttons {
  padding-left:5%;
  padding-top:5%;
}
.indiv-post .main-post .nav-buttons p{
  margin:0;
  color:#00ACF5;
  font-size:1.6em;
}
.indiv-post .main-post .nav-buttons .next-button{
  text-align: right;
  padding-right:5%;
}








.footer{
  display:none;
  background-color:#fff;
  height:50px;
}
.footer .container-fluid{
  height:50px;
}
.footer .container-fluid .row {
}
.footer .container-fluid .row .col-xs-4{
  height:50px;
}
  .footer img{
    margin-top:10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:80%;
  }

  .footer #footer-left:hover{
    border-bottom: 5px solid #FFDD17;
  }
  .footer #footer-center:hover{
    border-bottom: 5px solid #F15A29;
  }
  .footer #footer-right:hover{
    border-bottom: 5px solid #38B449;
  }

.mobile-footer{
  height:50px;
}
.mobile-footer .container-fluid{
  height:50px;
}

.mobile-footer .container-fluid .row .col-xs-4{
  height:50px;
  color:#fff;
  text-align: center;
}

  .mobile-footer #mobile-footer-left{
    background-color:  #FFDD17;
  }
  .mobile-footer #mobile-footer-center{
    background-color:  #F15A29;
  }
  .mobile-footer #mobile-footer-right{
    background-color:  #38B449;
  }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

.sidebar{
  display:none;
}
.mobile-sidebar{
  display:none;
}
.medium-sidebar{
  display:block;
}

.mobile-footer{
  display:none;
}
.footer{
  display:block;
}
/*Navbar*/

.navbar{
  height:40px;
}
  .navbar .container-fluid{
    height:inherit;
  }
    .navbar .container-fluid .navbar-brand{
      display:block;
    }
    .navbar .container-fluid #mxl-logo-icon-center{
      margin-left:auto;
      margin-right:auto;
      width:40px;
      float:center;
    }
    .navbar .container-fluid .navbar-collapse .nav{
      float:right;
    }
    .navbar .navbar-header .navbar-brand #mxl-logo-icon{
    }
      .navbar .container-fluid .navbar-collapse .nav .spacer{
        display:block;
        visibility:hidden;
      }
      .navbar .container-fluid .navbar-collapse .nav li a{
        font-size:1.2em;
      }

/*Navbar ends*/

.main-content{
  
} 
.main-content .container-fluid .all-posts{
  
  padding:0;
}
.main-content .container-fluid{
  background: rgba(255, 255, 255, .7);
}

.main-content .container-fluid .sidebar{
  background: rgba(255, 255, 255, .7);
}

.main-content .container-fluid .mobile-sidebar{
  margin-bottom:3%;
}

.main-content .container-fluid .medium-sidebar{
  float:right;
}
.main-content .container-fluid .medium-sidebar .mini-avi{
  width:100%;
}

.main-content .container-fluid .medium-sidebar #blog-posts-list .row{
  margin-bottom:5%;
}

.main-content .container-fluid .mobile-sidebar .mini-avi{
  width:100%;
}
.main-content  ul{
  list-style: none;
}
.main-content .blog-post{
  width:100%;
  margin-bottom:5%;
}
.main-content .blog-post .post-title{
  color:#00ACF5;
  margin:0;
  font-size:2.2em;
}

.main-content .post-avi{
  width:10%;
}

.main-content .blog-post .post-date{
  display:block;
}

.main-content #blog-posts-list{
  padding:0;
}

.main-content .blog-post .post-info{
  padding-left:15%;
}

.main-content #blog-posts-list a{
  font-size:1.2em;
}
.main-content .feature-blog-post .post-caption p{
  display:block;
}

.main-content .feature-blog-post{
  position:relative;
  margin-bottom:1%;
}
.main-content .feature-blog-post .post-image{
  width:100%;
  overflow:hidden;
  max-height:300px;
}
.main-content .indiv-post-image{
  width:100%;
}
.main-content .indiv-post-image img{
  display:inline-block;
  width:30%;
}

.main-content .feature-blog-post .post-image img{
  width:100%;
}

.main-content .blog-post .mini-image{
  width:100%;
  display:none;
}

.main-content .feature-blog-post .post-caption{
  position:absolute;
  width: 100%;

}

.main-content .blog-post .social-links{
  list-style: none;
  display:block;
  padding-left:0;
}

.main-content .social-links li{
  display:block;
}
.main-content .social-links li:hover path{
  fill:#262261;
}



.main-content .feature-blog-post .post-caption .post-title{
  color:#fff;
}
.main-content .feature-blog-post .post-caption .post-author{
  color:#e6e7e8;
  font-style:italic;
}

.main-content .blog-post .post-author{
 
  font-style:italic;
}
.main-content .feature-blog-post .post-caption .read-more{
  float:right;
}



/*post.html*/



.indiv-post .container-fluid div{
  padding:0;
}

.indiv-post .main-post{
  background: rgba(255, 255, 255, .7);
}

.indiv-post .main-post p{
  margin-top:0;
  margin-bottom:0;
  width:90%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  line-height:1.6em;
  font-size:1.3em;
  padding-bottom:3%;
}

.indiv-post .social-links{
  display:block;
  list-style: none;
  padding-left:5%;
}

.indiv-post .main-post .muted{
  padding-bottom:0;
}

.indiv-post .post-author{
  padding-left:5%;
  font-size:1.8em;
  font-style: italic;
}

.indiv-post .post-avi{
  width:8%;
}

.indiv-post .social-links li{
  display:inline-block;
}

.indiv-post .sidebar{
  display:none;
}

.indiv-post .medium-sidebar{
  display:none;
}



.indiv-post .post-content img{
  display:block;
  width:90%;
  margin-left:auto;
  margin-right:auto;
  margin-top:5%;
  margin-bottom:5%;
}

.indiv-post .main-post-title{
  color:#00ACF5;
  margin-top:0;
  padding-top:5%;
  padding-left:5%;
  width:90%;
  font-size:3em;
}





.footer{
  background-color:#fff;
  height:50px;
}
.footer .container-fluid{
  height:50px;
}
.footer .container-fluid .row {
}
.footer .container-fluid .row .col-xs-4{
  height:50px;
}
  .footer img{
    margin-top:10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:auto;
  }

  .footer #footer-left:hover{
    border-bottom: 5px solid #FFDD17;
  }
  .footer #footer-center:hover{
    border-bottom: 5px solid #F15A29;
  }
  .footer #footer-right:hover{
    border-bottom: 5px solid #38B449;
  }



/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

/*Navbar*/

.sidebar{
  display:block;
}
.mobile-sidebar{
  display:none;
}
.medium-sidebar{
  display:none;
}

.navbar{
  height:100px;
}
  .navbar .container-fluid{
    padding:0;
  }
    .navbar .container-fluid .navbar-brand{
      width:100%;
      display:block;
      padding:0;
    }
    .navbar .container-fluid .navbar-collapse .nav{
      margin-top:-25px;
      margin-right:2%;
    }
    .navbar .container-fluid #big-logo{
      display:block;
    }
    .navbar .container-fluid #mxl-logo{
      display:block;
      width:20%;
      margin-left:8%;
      margin-top:3%;
    }
    .navbar .container-fluid #mxl-logo-icon-center{
      display:none;
    }
    .navbar .navbar-header .navbar-brand #mxl-logo-icon{
      display:none;
    }

/*Navbar ends*/

.main-content{
  padding-top:100px;
} 
.main-content .container-fluid .all-posts{
  
  padding:0;
}
.main-content .container-fluid{
  background: rgba(255, 255, 255, .7);
}

.main-content .container-fluid .sidebar{
  background: rgba(255, 255, 255, .7);
  position:fixed;
  right:0;
}


.main-content .container-fluid .sidebar li{
  font-size:1.2em;
}


.main-content  ul{
  list-style: none;
}
.main-content .blog-post{
  
  width:100%;
}
.main-content .blog-post .post-title{
  color:#00ACF5;
  margin:0;
}


.main-content #blog-posts-list{
  padding:0;
}

.main-content #blog-posts-list a{
  font-size:1.2em;
}


.main-content .feature-blog-post{
  position:relative;
  margin-bottom:5%;
}
.main-content .feature-blog-post .post-image{
  width:100%;
  overflow:hidden;
  max-height:300px;
}
.main-content .indiv-post-image{
  width:100%;
}
.main-content .indiv-post-image img{
  display:inline-block;
  width:30%;
}

.main-content .feature-blog-post .post-image img{
  width:100%;
}

.main-content .blog-post .mini-image{
  width:90%;
  display:block;
  margin-right: auto;
  margin-left: auto;
}

.main-content .feature-blog-post .post-caption{
  position:absolute;
  width: 100%;

}

.main-content .blog-post .social-links{
  list-style: none;
  display:block;
}
.main-content .social-links li:hover path{
  fill:#262261;
}

.main-content .feature-blog-post .post-caption .post-title{
  color:#fff;
}
.main-content .feature-blog-post .post-caption .post-author{
  color:#e6e7e8;
  font-style:italic;
}

.main-content .blog-post .post-author{
 
  font-style:italic;
}
.main-content .feature-blog-post .post-caption .read-more{
  float:right;
}

.main-content .container-fluid .sidebar #blog-posts-list .row{
  margin-bottom:5%;
}


/*post.html*/



.indiv-post .container-fluid div{
  padding:0;
}

.indiv-post .main-post{
  background: rgba(255, 255, 255, .7);
}

.indiv-post .main-post p{
  margin-top:0;
  margin-bottom:0;
  width:90%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  line-height:1.6em;
  font-size:1.3em;
  padding-bottom:0;
}

.indiv-post .main-post h2{
  padding-left:0;
}

.indiv-post .social-links{
  display:block;
  list-style: none;
  padding-left:5%;
}

.indiv-post .main-post .muted{
  padding-bottom:0;
}

.indiv-post .post-author{
  padding-left:5%;
  font-size:1.8em;
  font-style: italic;
}

.indiv-post .post-avi{
  width:6%;
}

.indiv-post .social-links li{
  display:inline-block;
}

.indiv-post .sidebar{
  display:none;
}

.indiv-post .medium-sidebar{
  display:none;
}

.indiv-post .container-fluid .post-content{
  width:80%;
  padding-left:5%;
  margin:0;
}

.indiv-post .nav-buttons{
  width:80%;
}

.indiv-post .container-fluid .post-content p{
  margin-left:0;
}

.indiv-post .post-content img{
  display:block;
  width:90%;
  margin-left:auto;
  margin-right:auto;
}

.indiv-post .main-post-title{
  color:#00ACF5;
  margin-top:0;
  padding-top:5%;
  padding-left:5%;
  width:90%;
  font-size:3em;
}



.footer{
  background-color:#fff;
  height:50px;
}
.footer .container-fluid{
  height:50px;
}
.footer .container-fluid .row {
}
.footer .container-fluid .row .col-xs-4{
  height:50px;
}
  .footer img{
    margin-top:10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }

  .footer #footer-left:hover{
    border-bottom: 5px solid #FFDD17;
  }
  .footer #footer-center:hover{
    border-bottom: 5px solid #F15A29;
  }
  .footer #footer-right:hover{
    border-bottom: 5px solid #38B449;
  }



/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

.navbar .container-fluid #mxl-logo{

      width:18%;
margin-top:2%;


    }

.footer{
  background-color:#fff;
  height:50px;
}
.footer .container-fluid{
  height:50px;
}
.footer .container-fluid .row {
}
.footer .container-fluid .row .col-xs-4{
  height:50px;
}
  .footer img{
    margin-top:10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }

  .footer #footer-left:hover{
    border-bottom: 5px solid #FFDD17;
  }
  .footer #footer-center:hover{
    border-bottom: 5px solid #F15A29;
  }
  .footer #footer-right:hover{
    border-bottom: 5px solid #38B449;
  }


}

@media (min-width:1366px){





.footer{
  background-color:#fff;
  height:50px;
}
.footer .container-fluid{
  height:50px;
}
.footer .container-fluid .row {
}
.footer .container-fluid .row .col-xs-4{
  height:50px;
}
  .footer img{
    margin-top:10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }

  .footer #footer-left:hover{
    border-bottom: 5px solid #FFDD17;
  }
  .footer #footer-center:hover{
    border-bottom: 5px solid #F15A29;
  }
  .footer #footer-right:hover{
    border-bottom: 5px solid #38B449;
  }



}



@media (min-width:1500px){

.navbar .container-fluid #mxl-logo{

      width:15%;


    }

/*About Pane*/

  .main-content #about{
    padding:0;
    color:#262261;
    z-index:10;

    width:100%;
    text-align: left;
  }
  .main-content #about h1{
    padding-top:7%;
    font-size:4em;
    padding-left:5%;
  }
  .main-content #about p{
    padding-left:5%;
    font-size:1.4em;
    width:60%;
  }




/*About Pane end*/

.main-content #team{
  padding-left:250px;
  padding-right:250px;
}

.main-content #team .container-fluid{
  padding-top:1%;
}
.main-content #team .container-fluid .row{
  margin-top:3%;
  margin-bottom:8%;
}
.main-content #team .post-content{
  position:absolute;
  top:60%;
  left:25%;
}

.main-content #team .team-pic .member-name h2{
  font-weight:400;
  margin-bottom:0;
  color:#00ACF5;
}
.main-content #team .team-pic  .member-name .member-title h3{
  font-weight:300;
  margin-top:0;
}
.main-content #team .team-pic img{
  display:block;
}

.main-content #team .team-pic{
  position:relative;
  text-align: left;
}


/*Press Pane*/
/*Press pane*/
  .main-content #press{
        background-color: #CCC;
  }
    .main-content #press #press-icon-row{

    }
      .main-content #press #press-icon-row div{
        padding-top:50px;
        padding-bottom:25px;
      }
      .main-content #press #press-icon-row div img{
        width:80%;

      }
    .main-content #press #press-quotes{
      width:90%;
      margin-left:auto;
      margin-right:auto;
    }

    .main-content #press #press-quotes h4{
      color:#fff;
    }
    .main-content #press #press-quotes p{
      color:#fff;
      width:100%;
      text-align: right
    }




.main-content #contact{
    background-color: #e6e7e8;
    text-align:center;
    color:#262261;
  }
    .main-content #contact h1{
      text-align: center;
      font-size:4em;
      padding-top:10%;
    }
    .main-content #contact .contact-box{
      background-color:#555;
      height:100px;
      color:#E6E7E8;
      margin-bottom:50px;
    }
      .main-content #contact h3{
        font-weight:400;
        text-align: left;
        padding-top:5%;
      }
      .main-content #contact #contact-form{
        padding-top:50px;
        width:50%;
        margin-left:auto;
        margin-right:auto;
      }
      .main-content #contact #contact-form .form-group .form-control{
        border:none;
        box-shadow:none;
        font-size: 1.8em;
        background-color:#555;
        height:auto;
        color:#fff;
        text-align:left;
        font-weight:200;
      }
      .main-content #contact #contact-form .form-control{
        border:none;
        box-shadow: none;
        font-size: 1.8em;
        background-color:#555;
        height:auto;
        color:#fff;
        text-align: left;
        font-weight:200;
      }
      .main-content #contact #contact-form .form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
}
      .main-content #contact #contact-form .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFF;
}
      .main-content #contact #contact-form .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFF;
}
      .main-content #contact #contact-form .btn{
        margin-top:10%;
        border-radius: 0;
        font-size:1.5em;
        background-color:#00ACF5;;
        color:#fff;
        margin-bottom:10%;
        font-weight:200;
      }


.footer{
  background-color:#fff;
  height:50px;
}
.footer .container-fluid{
  height:50px;
}
.footer .container-fluid .row {
}
.footer .container-fluid .row .col-xs-4{
  height:50px;
}
  .footer img{
    margin-top:10px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }

  .footer #footer-left:hover{
    border-bottom: 5px solid #FFDD17;
  }
  .footer #footer-center:hover{
    border-bottom: 5px solid #F15A29;
  }
  .footer #footer-right:hover{
    border-bottom: 5px solid #38B449;
  }


}
