body{
	padding-right:20px;
}

#topbar { 
	height:45px;
	background-color: #1A1A1A;
	position: fixed;
	z-index: 99;
	width:100%;
	margin-top:0px;
}

#topbar p {
	color: #fff;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.vert-nav-menu {
	margin-top:60px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
	position:fixed;

}

.main-content{
	margin-top:60px;
	position:relative;
	white-space:normal;
	width:600px;
	z-index:1;
	margin-right:30px;

}

.main-content h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
}

.main-content p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: lighter;
}