#topbar { 
	height:45px;
	background-color: #1A1A1A;
	position: absolute;
	z-index: 99;
}

#topbar p {
	color: #fff;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.main-content{
	margin-top:45px;
	position:relative;

}

.main-content h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
}

.main-content p{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: lighter;
}