body{
	background-color:#fff;
}

.top-menu{
	background-image: url("./img/coffee.png");
}

.pagetitle{
	font-family: Solido Compressed;
	font-size:34px;
	color:#fff;

}

.pagetitle em{

}

.nav{
	font-family: Gothic;
	font-weight: normal;
	font-size: 16px;
	background-color: #230b03;
	color: #e5d3ae;
}

h2 {
	font-family: Gothic;
	font-weight: bold;
	font-size:18px;
	color: #230b03;
}

.recipe p{
	font-family:Gothic;
	font-weight: normal;
	font-size:14px;
	color:#230b03;
}

.footer{
	font-family:Gothic;
	font-size:14px;
	background-color:#230b03;
	color:#e5d3ae;
}
