/*css doc to sit on top of bootstrap*/
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/*Body*/

body{
	font-family: 'Source Sans Pro', sans-serif !important;
}

h1, h2, h3, h4{
	font-weight:200;
}
p, li, a{
	font-weight:400;
}

video{
	display: none;
}

a:hover{
	text-decoration: none;

}
.carousel-control.right{
	background-image:none;
}
.carousel-control.left{
	background-image:none;
}
	.carousel-control.right .glyphicon-chevron-right{
		right:0;
	}
	.carousel-control.left .glyphicon-chevron-left{
		left:0;
	}




/*Navbar*/

.navbar{
	background-color:#fff;
	height:40px;
	z-index:10000;
}
	.navbar .container-fluid{
		background-color: #fff;
		height:40px;
		z-index:10000;
	}
		.navbar .container-fluid #big-logo{
			display:none;
		}
		.navbar .container-fluid #mxl-logo{
			display:none;
		}
		.navbar .container-fluid #mxl-logo-icon-center{
			display:none;
		}
		.navbar .container-fluid .navbar-brand{
			padding: 8px 15px;
		}
		.navbar .container-fluid .navbar-collapse{
			background-color: #fff;
			z-index:1000;
		}
		.navbar .container-fluid .navbar-collapse .nav{
			z-index:1000;
		}
				.navbar .container-fluid .navbar-collapse .nav .active > a{
					background-color:transparent;
				}
				.navbar .container-fluid .navbar-collapse .nav .active > a:hover{
					background-color:transparent;
				}
				.navbar .navbar-header .navbar-brand #mxl-logo-icon{
					display:block;
					width:100%;
				}
			.navbar .container-fluid .navbar-collapse .nav .spacer{
				display:none;
			}
			.navbar .container-fluid .navbar-collapse .nav li a{
				font-size:1.4em;
			}
/*Navbar end*/


/*Main Content*/

.main-content{
	padding-top:50px;
	background-color: transparent;
}
	.main-content  .content-pane{
		text-align:center;
	}


/*About Pane*/

	.main-content #about{
		background-color:#262261;
		background: rgba(241, 90, 41, .8);

		color:#fff;
		z-index:10;
	}
		.main-content #about .container-fluid{
			padding-bottom:5%;
		}
				.main-content #about #brand-copy h1{
					margin-top:10%;
					margin-bottom:8%;
					font-size:4em;
					width:80%;
					margin-left:auto;
					margin-right:auto;
					text-align: center;
				}


				/* MAKE THIS INTO A BUTTON CLASS FOR MODULARITY
				ALSO FIX FONT SIZES SO NOT MIXING EMS AND PXS*/
				.main-content #about #brand-copy p{
					color:#fff;
					font-size:1.8em;
					margin-left:auto;
					margin-right:auto;
					width:80%;
					text-align: center;
				}

			.main-content #about .learn-button{
				margin-top:5%;
				display:block;
				text-align: center;
				margin-left:auto;
				margin-right:auto;
				color:#FFDD17;
				font-weight:lighter;
				padding:5px;
				font-size:2em;
				width:60%;
			}
			.main-content .arrow-svg{

				display:block;
				margin-left:auto;
				margin-right:auto;
				height:3em;
				width:3em;
			}
			.main-content #about .arrow-svg{

				fill:#FFDD17;
			}


/*About Pane end*/

.main-content #portfolio{
	display:block;
	background-color: #fff;
	overflow: hidden;
	padding-left:0;
	padding-right:0;
}

.main-content #portfolio .left-mobile img{
	width:80%;
}

.main-content #portfolio .left-mobile .game-icon{
	background-color: #FFE9C7;
}

.main-content #portfolio #mobile-jamkings{

}

.main-content #portfolio .left-mobile #mobile-jamkings img{
	padding-bottom:6%;
}
.main-content #portfolio .left-mobile .col-xs-3{
	padding:0;
}
.main-content #portfolio .left{
	padding:0px;
	display:none;
}
.main-content #portfolio .left-box{
	width:100%;


	color:#1A1A1A;
	background-color: #FFF7E5;
}
.main-content #portfolio .left-box .game-icon{
	width:30%;
	float:left;
	padding-left:10px;

}
.main-content #portfolio .left-box .game-icon img{
	width:75%;
	margin-left:auto;
	margin-right:auto;
	padding-top:8px;
}
.main-content #portfolio .left-box h2{
	font-weight:lighter;
	padding:20px;
	width:70%;
	float:left;
	margin-top:0;
	margin-bottom:0;
	font-size:2.5em;
	text-align: left;
}


.main-content #portfolio .right{
	padding:0px;
	overflow:hidden;
	background-color: #fff;
}
.main-content #portfolio .right-box{
	display:none;
	background-color:#fff;
}

.main-content #portfolio .game-info{
	display:none;
	background-color: #1A1A1A;
}

.main-content #portfolio .right h2{
	padding-bottom:3%;
	font-size:2.5em;
}
.main-content #portfolio .right .appstore-links{
	padding-bottom:2%;
}
.main-content #portfolio .right p{
	width:90%;
	padding-top:3%;
	margin-left: auto;
	margin-right: auto;
	font-size:1.5em;
	text-align: left;
}

.main-content #portfolio .right .right-box .mobile-title{
	padding-top:5%;
}

.main-content #portfolio .right .right-box .game-quote{
	font-size:2em;
}
.main-content #portfolio .right .right-box #appstore{

}
.main-content #portfolio .right .right-box #googleplay{
	width:70%;
}

.main-content #portfolio .right .right-box .game-description{
	width:80%;
}

.main-content #portfolio .right .right-box #stars{
	margin-bottom:5%;
}

.main-content #portfolio .right .right-box .iphone-mock{
	width:100%;
	-webkit-transform: translateX(-100px) ;
    -o-transform:translateX(-100px);
    transform: translate(-100px);
}
.main-content #portfolio .right .right-box .vertical-iphone-mock{
	width:60%;
	-webkit-transform: translateX(-100px) ;
		-o-transform:translateX(-100px);
		transform: translate(-100px);
}
/*Pricing Pane end*/

/*Contact pane*/

	.main-content #contact{
		background-color:#FEC265;
		text-align:center;
		color:#fff;

}

	.main-content #contact h1{
		padding-top:10%;
	}
	.main-content #contact #contact-form .form-group .form-control{
				border:none;
				box-shadow:none;
				font-size: 1.8em;
				background-color:#F78F3D;
				height:auto;
				color:#fff;
				width:70%;
				margin-left:auto;
				margin-right:auto;
				margin-top:5%;
			}
			.main-content #contact #contact-form .form-control{
				border:none;
				box-shadow:none;
				font-size: 1.8em;
				background-color:#F78F3D;
				height:auto;
				color:#fff;
				width:70%;
				margin-left:auto;
				margin-right:auto;
				margin-top:5%;
				font-weight:200;
			}
			.main-content #contact #contact-form .btn{
				margin-top:5%;
				margin-bottom:10%;
				border-radius: 0;
				font-size:1.5em;
				background-color: #F78F3D;
				color:#fff;
				font-weight:200;
			}
			.main-content #contact #contact-form .form-control::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFF;
}
			.main-content #contact #contact-form .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #FFF;
}
			.main-content #contact #contact-form .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #FFF;
}

/*Footer*/

.footer{
	background-color:#fff;
	height:50px;
	display:none;
	}
.footer .container-fluid{
	height:50px;
}
.footer .container-fluid .row {
}
.footer .container-fluid .row .col-xs-4{
	height:50px;
}
	.footer img{
		margin-top:10px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		width:90%;
	}

	.footer #footer-left:hover{
		border-bottom: 5px solid #FFDD17;
	}
	.footer #footer-center:hover{
		border-bottom: 5px solid #262261;
	}
	.footer #footer-right:hover{
		border-bottom: 5px solid #38B449;
	}

	.mobile-footer{
	height:50px;
}
.mobile-footer .container-fluid{
	height:50px;
}

.mobile-footer .container-fluid .row .col-xs-4{
	height:50px;
	color:#fff;
	text-align: center;
}

	.mobile-footer #mobile-footer-left{
		background-color:  #FFDD17;
	}
	.mobile-footer #mobile-footer-center{
		background-color:  #262261;
	}
	.mobile-footer #mobile-footer-right{
		background-color:  #38B449;
	}

/*Footer End*/




/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


video{
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	display:block;
	background-size: cover;
}

.footer{
	display:block;
}
.mobile-footer{
	display:none;
}
.main-content #portfolio .left-mobile{
	display: none;
}
.main-content #portfolio .left{
	display: block;
}
.main-content #portfolio .right{
	display: block;
}
/*Navbar*/

.navbar{
	height:40px;
}
	.navbar .container-fluid{
		height:inherit;
	}
		.navbar .container-fluid .navbar-brand{
			display:block;
		}
		.navbar .container-fluid #mxl-logo-icon-center{
			margin-left:auto;
			margin-right:auto;
			width:40px;
			float:center;
		}
		.navbar .container-fluid .navbar-collapse .nav{
			float:right;
		}
		.navbar .navbar-header .navbar-brand #mxl-logo-icon{
		}
			.navbar .container-fluid .navbar-collapse .nav .spacer{
				display:block;
				visibility:hidden;
			}
			.navbar .container-fluid .navbar-collapse .nav li a{
				font-size:1.2em;
			}

/*Navbar ends*/


/*About Pane*/

	.main-content #about{

		text-align: left;
	}
	.main-content #about .container-fluid{
		padding-bottom:10%;
	}
	.main-content #about #brand-copy{
		padding-top:10%;

	}
				.main-content #about #brand-copy h1{
					font-size:5.5em;
					margin-top:0;
					width:100%;
					margin-bottom:5%;
				}

		.main-content #about #brand-copy a p{
			text-align: center;
			width:100%;
		}




.main-content #portfolio{
	display:block;
	background-color: #e6e7e8;

	padding-left:0;
	padding-right:0;
}

.main-content #portfolio .left{
	padding:0px;
}
.main-content #portfolio .left-box{
	width:100%;
	height:100px;
	border-bottom:1px inset #FFBC8A;
	color:#1A1A1A;

}
.main-content #portfolio #small-clumsy-biker{
	border:none;
}
.main-content #portfolio .left-box .game-icon{
	width:30%;
	float:left;
	padding-left:10px;
}
.main-content #portfolio .left-box .game-icon img{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding-top:8px;
}
.main-content #portfolio .left-box h2{
	font-weight:lighter;
	font-size:1.5em;
	padding:10px;
	padding-top:15%;
	width:70%;
	float:left;
	margin-top:0;
	margin-bottom:0;
}
.main-content #portfolio #small-urban{

}

.main-content #portfolio .right{
	height:400px;
	padding:0px;
	display:block;
	background-color: #fff;
}
.main-content #portfolio .right-box{
	width:100%;
	height:400px;
	border:1px solid #fff;
	color:#1A1A1A;

}
.main-content #portfolio .right-box h2{


}

.main-content #portfolio .right .right-box .mobile-title{
	padding-top:5%;
	display:none;
}

.main-content #portfolio .right .right-box .game-quote{
	font-size:2em;
}

.main-content #portfolio .right .right-box #stars{
	margin-bottom:5%;
}

.main-content #portfolio .right .right-box .game-description{
	font-size:1.2em;
	line-height:1.6em;
	width:90%;
}

.main-content #portfolio .right .right-box .iphone-mock{
	width:140%;
	-webkit-transform: translateX(-100px) ;
    -o-transform:translateX(-100px);
    transform: translate(-100px);
}
.main-content #portfolio .right .right-box .vertical-iphone-mock{
	width:80%;
	-webkit-transform: translateY(25px) ;
		-o-transform:translateY(25px);
		transform: translate(-100px);
}

.main-content #portfolio .right .right-box #googleplay{
	width:80%;
}

.main-content #portfolio #big-waka{
	display:block;
}
.main-content #portfolio #big-clumsy-biker, #big-urban, #big-jamkings{
	display:none;
}

.main-content #portfolio #small-waka{
	background-color: #FFBC8A;
}

}



.footer{
	height:50px;
}

.footer img{
	width:auto;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

/*Navbar*/


.navbar{
	height:100px;
}
	.navbar .container-fluid{
		padding:0;
	}
		.navbar .container-fluid .navbar-brand{
			width:100%;
			display:block;
			padding:0;
		}
		.navbar .container-fluid .navbar-collapse .nav{
			margin-top:-25px;
			margin-right:2%;
		}
		.navbar .container-fluid #big-logo{
			display:block;
		}
		.navbar .container-fluid #mxl-logo{
			display:block;
			width:25%;
			margin-left:7%;
			margin-top:2.5%;
		}
		.navbar .container-fluid #mxl-logo-icon-center{
			display:none;
		}
		.navbar .navbar-header .navbar-brand #mxl-logo-icon{
			display:none;
		}

/*Navbar ends*/

.main-content #portfolio .right .right-box .game-quote{
	font-size:2em;
}

.main-content #portfolio .right .right-box #stars{
	margin-bottom:5%;
}

.main-content #portfolio .right .right-box .game-description{
	font-size:1.2em;
	width:90%;
}

.main-content #portfolio .right .right-box .iphone-mock{
	width:140%;
	-webkit-transform: translateX(-100px) ;
    -o-transform:translateX(-100px);
    transform: translate(-100px);
}
.main-content #portfolio .right .right-box .vertical-iphone-mock{
	width:60%;
	-webkit-transform: translateY(0px) ;
		-o-transform:translateY(0px);
		transform: translate(-100px);
}

.main-content #portfolio .right .right-box #googleplay{
	width:60%;
}

.main-content #portfolio .left-box h2{
	font-weight:lighter;
	font-size:1.5em;
	padding:10px;
	padding-top:10%;
	width:70%;
	float:left;
	margin-top:0;
	margin-bottom:0;
}

.footer{
	height:50px;
	color:white;
}

/*About Pane*/
	.main-content #about #brand-copy{
		padding-top:15%;
	}

			.main-content #about #brand-copy h1{
				font-size:5.5em;
			}
			.main-content #about #brand-copy p{
				margin-top:5%;
			}


/*About Pane ends*/


.main-content #contact #contact-form .form-control{
	width:60%;
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

.navbar .container-fluid #mxl-logo{

			width:18%;



		}

	.main-content #about #brand-copy{
		padding-top:15%;
	}

			.main-content #about #brand-copy h1{
				font-size:7em;
			}
			.main-content #about #brand-copy p{
				margin-top:5%;
			}


	.main-content #contact #contact-form .form-control{
	width:50%;
}

.main-content #portfolio .left-box h2{
	font-weight:lighter;
	font-size:1.8em;
	padding:10px;
	padding-top:10%;
	width:70%;
	float:left;
	margin-top:0;
	margin-bottom:0;
}

.main-content #portfolio .right .right-box #googleplay{
	width:50%;
}

.main-content #portfolio .right .right-box .iphone-mock{
	width:125%;
	-webkit-transform: translateX(-100px) ;
    -o-transform:translateX(-100px);
    transform: translate(-100px);
}
.main-content #portfolio .right .right-box .vertical-iphone-mock{
	width:60%;
	-webkit-transform: translateY(-50px) ;
		-o-transform:translateY(-50px);
		transform: translate(-100px);
}
}

@media (min-width:1366px){



/*About Pane*/

		.main-content #about #brand-copy{
			padding-top:15%;
		}
			.main-content #about #brand-copy h1{
				font-size:6em;
			}
.main-content #portfolio .left-box .game-icon{
	width:25%;
}
.main-content #portfolio .right .right-box #googleplay{
	width:40%;
}
.main-content #portfolio .right .right-box .iphone-mock{
	width:110%;
	-webkit-transform: translateX(-70px) ;
		-o-transform:translateX(-70px);
		transform: translate(-70px);
}

/*About Pane end*/

/*Assets Pane*/




}



@media (min-width:1500px){
.navbar .container-fluid #mxl-logo{

			width:15%;



		}


.main-content #portfolio .left-box .game-icon{
	width:20%;
}

}
