body{
	font-family: Gothic SB;
	color:#000
	background-color:#fff;
}

.topnav ul{
	list-style:none;
	font-weight:bold;
	font-size:12px;
}

.sidenav ul{
	float:left;
	width:200px;
	list-style:none;
	font-weight:bold;
	font-size:12px;
}

h1{
	font-weight:bold;
	font-size:35px;

}

.date{
	font-weight:bold;
	font-size:10px;
}

.post-title{
	font-weight:bold;
	font-size:24px;
}

.blog-posts{
	float:left;
}

.blog-posts p{
	width:800px;
	font-weight:lighter;
	font-size:12px;
}
