</div>


<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <a href="../../../../../build/"><div class="col-lg-4 col-md-4 col-xs-4" id="footer-left">
        <img src="../../../../../img/logos/mxl-build-text-color.svg" alt="mxl build">
      </div></a>
      <a href="../../../../../games/"><div class="col-lg-4 col-md-4 col-xs-4" id="footer-center">
        <img src="../../../../../img/logos/mxl-games-text-color.svg" alt="mxl games">
      </div></a>
      <a href="../../../../../apps/"><div class="col-lg-4 col-md-4 col-xs-4" id="footer-right">
        <img src="../../../../../img/logos/mxl-apps-text-color.svg" alt="mxl apps">
      </div></a>
    </div>
  </div>
</div>
<div class="mobile-footer">
  <div class="container-fluid">
    <div class="row">
      <a href="../build/"><div class="col-xs-4" id="mobile-footer-left">
        <h4>Build</h4>
      </div></a>
      <a href="../games/"><div class="col-xs-4" id="mobile-footer-center">
        <h4>Games</h4>
      </div></a>
      <a href="../apps/"><div class="col-xs-4" id="mobile-footer-right">
        <h4>Apps</h4>
      </div></a>
    </div>
  </div>


<script src="../../../../../js/bootstrap.js"></script>
<script src="../../../../../js/mxl.js"></script>
<!-- <script src="../../../../../js/navbar.js"></script> -->
</body>
</html>
